<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <div class="sidebar-hide">
      <% if logged_in? %>
      <div class="sidebar-content btn-group-vertical">
        <!-- handle link with backbone to prevent page reload? -->
        <a href="/#me" type="button" class="btn btn-success">My feed</a>
        <a href="/#feeds" type="button" class="btn btn-success">Manage subscriptions</a>
        <a href="/#favorites" type="button" class="btn btn-success">Favorite posts</a>
      </div>
      <% else %>
      <div class="sidebar-content-login">
        <a href="/session/new" type="button" class="btn btn-success">Log in</a><br><br>
        <form class="btn" action="<%= session_path %>" method="post" style="padding: 0px; margin: 0px;">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <input name="session[email]" type="hidden" id="inputEmail" class="form-control" value="guest" required autofocus>
            <input name="session[password]" type="hidden" id="inputPassword" class="form-control" value="password" required>

            <button class="btn btn-success" type="submit">Guest log in</button>
        </form>
      </div>
      <% end %>
    </div>
    <div class="sidebar-glyph">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-default">
      <div class="nconnected-navbar">
        <!-- <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="/logo-small.png" style="width: 30%;height:auto;" alt="" /></a>
        </div> -->
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/">Home</a></li>
        </ul>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if !logged_in? %>
                <form class="btn-group session-buttons" action="<%= session_path %>" method="post" style="padding: 0px; margin: 0px;">
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                  <input name="session[email]" type="hidden" id="inputEmail" class="form-control" value="guest" required autofocus>
                  <input name="session[password]" type="hidden" id="inputPassword" class="form-control" value="password" required>

                  <button class="btn btn-default" type="submit">Guest log in</button>
                  <a href="/session/new" type="button" class="btn btn-default">Log in</a>
                  <a href="/users/new" type="button" class="btn btn-default">Sign up</a>
                </form>
            <% else %>
            <li>
              <form id="logout_form" class="results-page-logout" action="/session" method="post">
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                <input type="hidden" name="_method" value="delete">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true" onclick="document.getElementById('logout_form').submit();"></span>
              </form>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div id="content" class="clearfix">
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#sidebar-wrapper").mouseenter(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});

$("#sidebar-wrapper").mouseleave(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
